* {
  font-family: "JetBrains Mono", "quote", "Helvetica Neue", "Luxi Sans",
    "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol",
    "Android Emoji", "EmojiSymbols";
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
}

:root {
  /* 主色 */
  --b3-theme-primary: #4285f4;
  --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
  --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
  --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
  --b3-theme-secondary: #f3a92f;
  --b3-theme-background: #242526;
  --b3-theme-surface: #2c2d2e;
  --b3-theme-surface-light: rgba(40, 40, 40, 0.86);
  --b3-theme-error: #d23f31;
  --b3-theme-title-bar: #1b1c1d;

  /* 文字颜色 */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #c9d1d9;
  --b3-theme-on-surface: #9aa0a6;
  --b3-theme-on-line: #666;
  --b3-theme-on-error: #fff;
  --b3-theme-dock-light: #3c3d3e;

  /* 字体 */
  --b3-font-family: "JetBrains Mono", "quote", "Helvetica Neue", "Luxi Sans",
    "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol",
    "Android Emoji", "EmojiSymbols";
  --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas,
    "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";
  --b3-font-family-graph: "JetBrains Mono", mononoki;
  --b3-font-family-emoji: "JetBrains Mono", "Segoe UI Emoji", "Segoe UI Symbol",
    "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji",
    "Android Emoji";

  /* 线条 */
  --b3-border-color: #50505060;

  /* 滚动条 */
  --b3-scroll-color: rgba(230, 230, 230, 0.08);

  /* 列表 */
  --b3-list-hover: rgba(230, 230, 230, 0.05);

  /* 页签 */
  --b3-tab-background: #292a2d;
  --b3-tab-background-hover: #2e2f31;

  /* 菜单 */
  --b3-menu-background: #323232;
  --b3-menu-shadow: #1a1a1a;

  /* 提示 */
  --b3-tooltips-color: rgba(70, 72, 76, 0.86);

  /* 卡片背景 */
  --b3-card-error-color: rgb(250, 179, 174);
  --b3-card-error-background: #280a08;
  --b3-card-warning-color: rgb(255, 213, 153);
  --b3-card-warning-background: #2d1b00;
  --b3-card-info-color: rgb(166, 213, 250);
  --b3-card-info-background: #051829;
  --b3-card-success-color: rgb(183, 223, 185);
  --b3-card-success-background: #0d1f0d;

  /* 自定义文字 */
  --b3-font-color1: var(--b3-card-error-color);
  --b3-font-color2: var(--b3-card-warning-color);
  --b3-font-color3: var(--b3-card-info-color);
  --b3-font-color4: var(--b3-card-success-color);
  --b3-font-color5: var(--b3-theme-on-surface);
  --b3-font-color6: var(--b3-theme-primary);
  --b3-font-color7: var(--b3-theme-secondary);
  --b3-font-color8: var(--b3-theme-error);
  --b3-font-color9: #f5539e;
  --b3-font-color10: #944194;
  --b3-font-color11: #65b84d;
  --b3-font-color12: #f5822e;
  --b3-font-color13: var(--b3-theme-background);
  --b3-font-background1: var(--b3-card-error-background);
  --b3-font-background2: var(--b3-card-warning-background);
  --b3-font-background3: var(--b3-card-info-background);
  --b3-font-background4: var(--b3-card-success-background);
  --b3-font-background5: var(--b3-theme-surface);
  --b3-font-background6: var(--b3-theme-primary-light);
  --b3-font-background7: rgba(217, 211, 215, 0.5);
  --b3-font-background8: rgba(255, 193, 153, 0.5);
  --b3-font-background9: rgba(189, 201, 255, 0.5);
  --b3-font-background10: rgba(239, 218, 251, 0.5);
  --b3-font-background11: rgba(234, 202, 220, 0.5);
  --b3-font-background12: rgba(253, 198, 200, 0.5);
  --b3-font-background13: var(--b3-theme-on-background);

  /* 动画效果 */
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
  --b3-width-transition: width 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

  /* 阴影 */
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  /* diff */
  --b3-diff-add: #133a1c;
  --b3-diff-add-surface: #28853e;
  --b3-diff-del: #440c10;
  --b3-diff-del-surface: #b1202d;

  /* 图表颜色 */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #9876aa;
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #e8eaed;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #9aa0a6;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;

  /* 编辑器搜索颜色 */
  --b3-protyle-search-background: #32593c;
  --b3-protyle-search-border-color: #486a51;
  --b3-protyle-search-current-background: #204282;

  /* 代码片段背景 */
  --b3-protyle-code-background: rgba(240, 246, 252, 0.15);

  /* 所见即所得行内元素颜色 */
  --b3-protyle-inline-strong-color: #e8eaed;
  --b3-protyle-inline-em-color: #e8eaed;
  --b3-protyle-inline-s-color: #e8eaed;
  --b3-protyle-inline-link-color: #8ab4f8;
  --b3-protyle-inline-mark-background: #32593c;
  --b3-protyle-inline-mark-color: #e8eaed;
  --b3-protyle-inline-tag-color: #9aa0a6;
  --b3-protyle-inline-blockref-color: #9876aa;

  /* PDF */
  --b3-pdf-sidebar-width: 200px;
  --b3-pdf-offset: 0;
  --b3-pdf-background1: var(--b3-theme-error);
  --b3-pdf-background2: #f5822e;
  --b3-pdf-background3: var(--b3-theme-secondary);
  --b3-pdf-background4: #65b84d;
  --b3-pdf-background5: #f5539e;
  --b3-pdf-background6: var(--b3-theme-primary);
  --b3-pdf-background7: #944194;
}

/* PDF */
.pdfViewer .page canvas,
.thumbnailImage {
  filter: grayscale(0%) invert(100%) contrast(100%) brightness(100%)
    hue-rotate(180deg);
}

.textLayer,
.pdf__resize {
  mix-blend-mode: exclusion;
}

.layout-tab-bar {
  background: var(--b3-theme-background);
}

.layout-tab-bar .item {
  transition: var(--b3-transition);
  position: relative;
  background-color: transparent;
  line-height: 24px;
  max-width: 200px;
  box-shadow: none;
  border-top-left-radius: 0 0;
  border-top-right-radius: 0 0;
  color: var(--b3-theme-on-background);
}

.layout-tab-bar .item::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 16px;
  right: -1px;
  border-right: 1px solid var(--b3-theme-on-line);
}

.layout-tab-bar .item--focus {
  background: var(--b3-theme-background-light);
  box-shadow: 0 0 10px var(--b3-theme-title-bar);
  z-index: 5;
}

.layout-tab-bar .item--focus::after {
  border: none;
}

.layout-tab-bar .item__text {
  text-align: left;
  padding-left: 16px;
}

.block__icons {
  height: 32px;
}

.toolbar {
  height: 32px;
  line-height: 32px;
  background: var(--b3-theme-title-bar);
  box-shadow: 0 0 5px var(--b3-theme-title-bar);
}

.toolbar #drag {
  font-size: 14px;
}

.toolbar__item {
  min-width: 48px;
}

.toolbar__item > svg {
  margin: 0 auto;
}

.dock {
  background: var(--b3-theme-dock-light);
  width: 48px;
}

.dock--vertical .dock__item {
  width: 34px;
  height: 34px;
  padding: 7px 7px;
  position: relative;
}

.dock--vertical .dock__item > svg {
  margin: 0 auto;
  height: 100%;
}

.protyle-breadcrumb {
  background: var(--b3-theme-background-light);
  position:relative;
  z-index: 5;
  height: 32px;
  box-shadow: 0 0 10px var(--b3-theme-title-bar);
}

body.body--win32 .fullscreen>.protyle-breadcrumb, body.body--win32 .fullscreen>.block__icons {
  padding-right: 160px;
}

.b3-menu {
  border-radius: 0;
  padding: 4px 0;
  box-shadow: 0 0 6px var(--b3-menu-shadow);
  border: none;
}

.b3-menu__item--show .b3-menu__submenu {
  border-radius: 0;
  padding: 4px 0;
  box-shadow: 0 0 6px var(--b3-menu-shadow);
  border: none;
}

.protyle-toolbar {
  border-radius: 0;
  box-shadow: 0 0 6px var(--b3-menu-shadow);
  background: var(--b3-menu-background);
  border: none;
  padding: 0 6px;
}
